<h1>Add Book </h1>
    
<form method='post' >
    <label for="title" class='field-label'>Title</label>
    <input type='text' name='title' id='title' class='form-field' placeholder="Title" /> 

    <label for="coverpageUrl" class='field-label'>coverpageUrl</label>
    <input type='text' name='coverpageUrl' id='coverpageUrl' class='form-field' placeholder="coverpageUrl" /> 

    <label for="Author" class='field-label'>Author</label>
    <input type='text' name='Author' id='Author' class='form-field' placeholder="Author" /> 

    <label for="Price" class='field-label'>price</label>
    <input type='text' name='price' id='price' class='form-field' placeholder="price" /> 
    <label for="rating" class='field-label'>rating</label>
    <input type='text' name='rating' id='rating' class='form-field' placeholder="rating" /> 
    

    <input type='submit' value='Add Book' class='btn btn-primary' />


</form>